/* src/App.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #FAF9F5;
}

.app-container {
  font-family: 'NekstLight', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #333;
  text-align: center;
  min-height: 100vh;
}

.prompt-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
}

.prompt-textarea-wrapper {
  position: relative;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px; /* Add margin to create space */
}

.prompt-textarea {
  flex-grow: 1;
  flex-basis: 65%;
  padding: 10px;
  border: none;
  font-size: 16px;
  min-height: 100px;
  resize: vertical;
  background-color: #FAF9F5;
  color: #333;
  outline: none;
}

.input-actions-left,
.input-actions-right {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #FAF9F5;
}

.file-upload-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #CC785C;
  padding: 0;
  margin-right: 10px;
}

.submit-button {
  background-color: #CC785C;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.submit-button::before {
  content: '▶';
  font-size: 20px;
}

.file-upload-input {
  display: none;
}

.drug-info-display-container {
  display: flex;
  flex-wrap: wrap; /* Allow boxes to wrap to the next line */
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto; /* Center the container */
}

.drug-info-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 15px;
  padding: 20px;
  flex: 1 1 300px; /* Allow boxes to grow, shrink, and have a base width */
  min-width: 250px;
  max-width: 400px;
  background-color: white; /* Add background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.info-column {
  margin-bottom: 15px;
}

.info-column h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.2em;
}

.info-column p,
.info-column ul {
  margin: 0;
  padding-left: 20px;
  font-size: 1em;
}

.info-column ul {
  list-style-type: disc; /* Use bullet points for lists */
}

.file-name-bubble {
  background-color: #CC785C;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  position: absolute;
  top: -20px; /* Adjust this to create more space */
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 14px;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Adjust as needed */
  text-align: center;
  padding: 20px;
  font-family: 'NekstLight', sans-serif;
  color: #333;
}

.home-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.2em;
  margin-bottom: 10px;
}